<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Crypt</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/" id="headerTitle">The Crypt</a>
        <div class="header-links">
            **header**
        </div>
    </header>
    **content**
    <footer>
        <p id="copyright">&copy; 2025 The Crypt. All rights reserved.</p>
    </footer>
</body>
</html>

