<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="/client.js" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        
        <a href="/" id="headerTitle">The Crypt</a>
        <div class="header-links">
            <a href="/createRoom">Skapa rum</a>
            <a href="/register">Registrera</a>
            <a href="/login">Logga in</a>
            <a id="profileIcon" href="/profile"></a>
        </div>
    </header>
    **content**
</body>
</html>